body {
    background: url(IMG/receta2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btna {
    margin-right: 10px;
}

.btn {
    background-color: #948e99;
    border: #948e99;
}

.btn:hover {
    background-color: #948e99;
    border: #948e99;
}