#img {
    height: 600px;
    background: url(IMG/ivan-torres-MQUqbmszGGM-unsplash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}